@charset "utf-8";

/*
スマホ/タブレット向けCSSファイル
*/
/************* 基本設定 **************/
body{
    font-size:3vw;
}

/************* ヘッダー **************/
header {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1.875em 1.5625em;       /*フォントサイズ16pxの場合： 30px 25px */
	margin-top:1.25em;                          /*フォントサイズ16pxの場合： 20px */
}

/* ホームボタン設定 */
#home{
    font-size:1.125em;          /*フォントサイズ：16px(body)×1 = 16px*/
    grid-column: 1 / 4;     /*１列目から４列目までをhome要素*/
    text-align:center;      /*中央ぞろえ*/
}

/* ヘッダー内ヘッド設定 */
#skills,#works{
    font-size:1.125em;          /*フォントサイズ：16px(body)×1 = 16px*/
	margin-top:0.3125em;    /*フォントサイズ：16px(body)×0.3125 = 5px*/
    text-align:center;      /*中央ぞろえ*/
}

/*ホームアイコンの大きさ*/
#homeicon{
	width:4%;
}

/*スキルアイコンの大きさ*/
#skillsicon{
	width:8%;
}

/*ワークスアイコンの大きさ*/
#worksicon{
	width:8%;
}

/************* メイン **************/
main{
	flex:1;
    margin-left:20px;
	margin-right:20px;
}

/************* サイドウィンドウ **************/
.sidewindow{
	display:grid;
	grid-template-columns: 10% 50% 10% 10%;
    grid-template-rows: 50px;
	margin-left:20%;
	margin-top:7%;
	text-align:center;
	line-height: 3vw;
}

/*名前・ステータス設定*/
.name,.status{
	font-size: 3vw;
}

/*学生 - 画像処理の間に空白を作る*/
.br::before {
	content: "\0020\0020" ;
	white-space: pre ;
}

/*アイコン設定*/
.icon{
    max-width: 100%;   /*アイコン幅設定*/
    border-radius: 50%; /*丸アイコン化*/
	float:right;
}

/*GitHub Twitterアイコン設定*/
.SNSicon{
	padding-top:4px;
    max-width: 60%;   /*アイコン幅設定*/
}

/*GitHub Twitterテキスト設定*/
.SNStext{
    font-size:0px;
}

/************* 本文設定 **************/
h1{
    font-size:1.125em;
    text-align: center;
}

h2{
    font-size:1.1em;
}

h3{
	font-size:1.3em;
	text-align:center;
}

li{
	margin-left:2em;
}

/*スキルグラフ(skills.html)*/
.graph{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
	margin-bottom:3em;
}

/*スキルグラフのキャンバス(skills.html)*/
#mychart,#mychart2,#mychart3,#mychart4,#mychart5,#mychart6,#mychart7,#mychart8,#mychart9,#mychart10,#mychart11{
	width:32%;
}

/*スキル表 スキルランク列(skills.html)*/
.rank{
	width:6em;
}

/*スキル表 スキル説明(skills.html)*/
.disc_content{
    font-size:0.9em;
}

/*作品一覧設定(works.html)*/
.works{
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*各作品(works.html)*/
.One_work{
    display: grid;
    grid-template-columns: 15em;
    grid-template-rows: 8em 2.0em;
	place-items: center;
    cursor: pointer;
}

/*各作品のタイトル(works.html)*/
.worktitle{
	font-size:1.1em;
	font-family:system-ui;
}

/*個々の作品設定(works.html)*/
.workimage{
	width:100%; /*幅をそろえる*/
}

/************* フッター **************/
footer{
    margin-top:3em;
    font-size:0.8em;
	height:20px;
}